<div class="card-group">
    <div class="card" style="width: auto" *ngFor="let user of users">
        <img class="card-img-top" [src]="user.avatar" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
          <p class="card-text">
            <span class="text-muted">
                {{user.email}}
            </span>
        </p>
          <p class="card-text">
              <span class="text-muted">
                  Id: {{user.id}}
              </span>
          </p>
        </div>
    </div>
</div>